.modalContentWrapper input:-webkit-autofill,
.modalContentWrapper input:-webkit-autofill:hover,
.modalContentWrapper input:-webkit-autofill:focus,
.modalContentWrapper textarea:-webkit-autofill,
.modalContentWrapper textarea:-webkit-autofill:hover,
.modalContentWrapper textarea:-webkit-autofill:focus,
.modalContentWrapper select:-webkit-autofill,
.modalContentWrapper select:-webkit-autofill:hover,
.modalContentWrapper select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px rgba(88, 176, 253, 0.1) inset;
  transition: background-color 5000s ease-in-out 0s;
}
