.Toolbar {
  height: 70px;
  width: 100%;
  background: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.Toolbar nav {
  height: 100%;
}

.Logo {
  height: 80%;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}
